* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  background: white;
  font-family: 'Montserrat', sans-serif;
  /*min-height: 200vh;*/
}
/* TESTING BACKGROUND IMAGE WITH UPLOAD AND MANIPULATION*/
#background-image {
   position: absolute;
   top:0;
   left:0;
   /*width: 100%;*/
 }
.image-toggle-index {
  z-index: 3;
}
.screensaver-background-color {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*--------------------------------------------------------*/



/* DIV FOR TESTING ANOTHER ELEMENT FOR JS EACH FUNCTIONS ==
   IN CASE I HAVE MULTIPLY ELEMENTS ON THE PAGE*/
.shushumushu {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  background-image: linear-gradient(red, yellow);
  /*margin: 50px 0 100px;*/
  /*border: 2px solid pink;*/
  z-index: 5;
  position: relative;
  opacity: 0.9;
  /*add overflow:hidden to clip box corners. becouse default is visible so elemnt corners are "visible" and dragging is posible outside of "circle"*/
  overflow: hidden;
}


/*for test fixed resize slider */

.resize-slider-container {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;
  padding: 10px;
  background: rgba(255,255,255, 1);
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.3),0 0 1em 0 rgba(0,0,0,.03);*/
  text-align:  center;
  width: 60px;
  font-weight: 500;
  /*margin-left: -30px;*/

  border-radius: 30px 30px 30px 30px;
  /*transform: translate(-50%, -250%) rotate(-90deg);*/
  /*border-radius: 20px;*/
  /*visibility: hidden;*/
  display: none;
}
.resize-slider-container .slider-btn {
  min-width: 30px;
  min-height: 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
}
/*from (at the end): https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range*/
.vertical-slider-wrapper {
  display: block;
  height: 150px;
  width: 20px;
  margin: 20px auto;
}
.vertical-slider-wrapper input {
  height: 20px;
  width: 150px;
  transform: rotate(-90deg);
  transform-origin: 75px 75px;

}
.resize-slider-container .slider-value {
  position: relative;
  /*position: relative;*/
  /*top: -60px;*/
  /*left:0;*/
  top: -10px; /*pull up couse of parent padding 10px*/
  left: -10px;
  background: rgba(255,255,255, 1);
  background-color: #dfdfdf;
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.5),0 0 1em 0 rgba(0,0,0,.03);*/
  /*text-align:  center;*/
  /*pull text in the middle with padding-top == just a quick hack*/
  /*border:  2px solid silver;*/
  padding-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 12px;
}

/*fro test fixed color picker*/
/*COLOR-CONTAINER2 JUST FOR TESTING PURPOSE-DELETE*/
.color-container, .color-container2 {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;
  padding: 10px;
  background: rgba(255,255,255, 1);
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.5),0 0 1em 0 rgba(0,0,0,.03);*/

   width: auto;
  /*margin-left: -150px;*/

  border-radius: 20px 20px 20px 20px;
  /*visibility: hidden;*/
  display: none;
}
/*fuck picker max-width in ems so it can be "responsive" inside of my container -- why? i dont know :*/
.pcr-app {
  max-width: 100%;
  box-shadow: none;
}
/*================*/

.screensaver-container {
  background-color: cyan;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-x:hidden;
  overflow-y:hidden;
  display: flex;
 	flex-direction: column;
 	flex-wrap: nowrap;
 	justify-content: center;
 	align-items: center;
 	/*align-content: center;*/

  /*ADDED FOR IMAGE BACKGROUND Z INDEX - PUSH BACK*/
  position: relative;
  z-index: 2;

}
/*TESTING ADDED FOR IMAGE BACKGROUND CROPING-ukoliko slika kada se uploduje porvi put je veca od ekrana kada se sacuvava screenshot cropuje sve sto je u pocetku prelazilo ivice?!!?!??! */
.screensaver-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100vh;
}
.download-overlay {
  background:  rgba(255,255,255,0.8);
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  top:0;
  left: 0;
  visibility: hidden;
}

/*SVG AND CONTAINER MUST BE SMOLER TO FIT ON SCREEN ON LOAD ON MOBILE
OR ELSE SCREEN SHOT WILL BE CUT OFF*/
.case-back-container {
  position: relative;
  z-index: 4;
  background-color: #fff;
  width: 271px;
  height: 271px;
  transform: scale(1);
  border-radius: 50%;
  /*add overflow:hidden to clip box corners. becouse default is visible so elemnt corners are "visible" and dragging is posible outside of "circle"*/
  overflow: hidden;
}
/*READ FULL ARTICLE AND MAKE CHANGES FOR RESPONSIVE SVG
https://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/*/
/*.case-back-container svg {
    position: absolute;
    top: 0;
    left: 0;
}*/
.speed-timer-container {
  position: relative;
  z-index: 4;
  width: 162px;
  height: 30px;
  transform: scale(1);
  /*add overflow:hidden to clip box corners. becouse default is visible so elemnt corners are "visible" and dragging is posible outside of "circle"*/
  overflow: hidden;
}
/*change fill class name to somethnig like case back color*/
.case-back .b {
  fill: magenta;
}
.case-back {
  /*add little scale becouse of backgraound 1px padding */
  transform: scale(1.01);
}
.case-back-serial {
  position: absolute;
  width: 94px;
  height:  13px;
  left: 50%;
  bottom: 75px;
  margin-left: -47px;
  /*add little scale becouse of backgraound 1px padding */
  /*transform: scale(1.01);*/
}
/*change fill class name to somethnig like case back serial color*/
.case-back-serial .l {
  fill: magenta;
}



/*controls menu*/
.controls-container {
  position: fixed;
  left: 5%;
  bottom: 30px;
  /*background: pink;*/
  /*display: flex;*/
  overflow: hidden;
  /*flex-direction: row;*/
  width: 90%;
  z-index: 10000;
}
.controls-menu-container {
  background-color: rgba(255,255,255,.9);
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.3),0 0 1em 0 rgba(0,0,0,.03);*/
  border-radius: 30px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /*z-index: 11000;*/
  height: 50px;
}
    @media screen and (min-width: 767px) {
      .controls-menu-container {
        width: 50%;
      }
    }
/*menu corner shadow*/
.controls-menu-container::before {
  content: "";
  /*background: #F4F4F4;*/
  background: linear-gradient(to left, rgba(244, 244, 244, 0), white 65%);
  /*height: 100%;*/
  width: 50px;
  height: 50px;
  border-radius: 55px;
  position: absolute;
  top: 0;
  left: 0;
}
.controls-menu-container::after {
  content: "";
  /*background: #F4F4F4;*/
  background: linear-gradient(to right, rgba(244, 244, 244, 0), white 65%);
  /*height: 100%;*/
  width: 50px;
  height: 50px;
  border-radius: 55px;
  position: absolute;
  top: 0;
  right: 0;
}

.controls-menu {
  /*position: absolute;
  bottom:0;
  left: 0;*/
  /*background-color: rgba(255,255,255,.9);
  box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.3),0 0 1em 0 rgba(0,0,0,.03);
  border-radius: 30px;*/
  overflow: auto;
  white-space: nowrap;
  /*max-width: 50%;*/
  height:  auto;
  /*add margin left and right to pull firs and last li item from corner shadow*/
  margin-left: 20px;
  margin-right:  20px;
  padding: 10px 0 15px;
  /*z-index: 110000;*/
  /*overflow-x:hidden;*/
  /*position: relative;*/

/*hide scroll bars with margin and padding*/
  overflow-x:scroll;
   /* maximum width of scrollbar 50px */
   /*margin-bottom: -13px;*/
  padding-bottom: 13px; /* maximum width of scrollbar 50px*/

  /*taken from and on the final changes check: https://css-tricks.com/almanac/properties/s/scrollbar-width/*/
  scrollbar-width: thin;
  scrollbar-color: red white;
}
@supports(scrollbar-width: thin) {
  .controls-menu {
    /*margin-bottom: -5px;*/
    padding-bottom: 16px;
  }
  @media screen and (min-width: 460px)  {
    .controls-menu {
      /*margin-bottom: -5px;*/
      padding-bottom: 8px;
    }
  }
}


.controls-menu:hover {
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.5),0 0 1em 0 rgba(0,0,0,.08);*/
}
.controls-menu li, .controls-menu li a {
  display: inline;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 0 5px;
  /*background-color: rgba(255,255,255,.5);*/
  text-decoration: none;
  color: #333;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

}

.color-btn, .color-btn a   {
  display: inline-block;
  /*background-color:  magenta;*/
  width:20px;
  height:20px;
  border-radius: 20px;
  padding: 0 0;
  /*box-shadow: 0 .15em 1.5em 0 rgba(0,0,0,.5),0 0 1em 0 rgba(0,0,0,.03);*/

  border: solid 2px rgba(255,255,255, 1);
}
.color-btn::after  {
  content: "";
  display: inline-block;
  width:12px;
  height:12px;
  border-radius: 20px;
  border: solid 2px rgba(0,0,0,.5);
  /*background:;*/
}
